<div class="page-wrapper idea">
  <%= render partial: './header.html.erb' %>
  <div class = "breadcrumbs">
    <div class="container">
      <%= link_to 'Главная', :root_path %> <i class="fas fa-arrow-right"></i>
      <% unless @idea.vote.nil? %> <%= link_to 'Тематики', :votes %> <i class="fas fa-arrow-right"></i>
      <%= link_to @idea.vote.title, vote_path(@idea.vote) %><i class="fas fa-arrow-right"></i> <% end %>
      <a href=""><%= @idea.title %></a>
    </div>
  </div>
    <section class="idea-section content container">
      <div class="idea-header">
        <div class="idea-block-header">
          <h1 class="idea-name title"><%= @idea.title %></h1>
        </div>
        <hr>
        <div class = "vote head">
          <div class = "head">
            <div class = "right">
              <div class = "person">
                <p>Создатель:</p>
                <a href="/login">
                  <div class = "avatar">
                    <img src="https://w3schoolsrus.github.io/w3images/avatar2.png">
                  </div>
                  <div class = "name">
                    <p><%= user_name @idea.user %></p>
                  </div>

                </a>
              </div>
              <div class = "status">

                <p>Статус идеи: <span><%= "Активна" if @idea.idea_status == "active" %> <%= "В архиве" if @idea.idea_status == "archived"%> <%="Принята" if @idea.idea_status == "accepted"%> </span> </p>
              </div>
              <div class = "properties">
                <p>Дата: <span><%= @idea.created_at.to_date %></span></p>
              </div>    
            </div>

          <% user_action = @idea.user_action current_user %>
            <div class = "left-container">
            
            <div class = "left">
              <% if @idea.vote.vote_status != 'collecting' %>
              <div data-idea_id = "<%= @idea.id %>" class="rating">
                  <!-- Thumbs up -->
                <% if !@idea.vote.nil? and @idea.vote.vote_status == 'voting' %>
                  <div class="like grow <%= 'active ' if user_action == :upvote %> <%= 'disabled' if @idea.idea_status == 'archived' %>">
                    <i class="far fa-thumbs-up" aria-hidden="true"></i>
                  </div>
                  <% end %>

                  <% if @idea.vote.iteration != 1 or (@idea.vote.iteration == 1 and @idea.vote.vote_status != 'collecting') %>
                    <input class="value idea-rating-field" value ="<%= @idea.rating %>" disabled/>
                  <% end%>
                  <!-- Thumbs down -->
                <% if !@idea.vote.nil? and @idea.vote.vote_status == 'voting' %>
                  <div class="dislike grow <%= 'active ' if user_action == :downvote %> <%= 'disabled' if @idea.idea_status == 'archived' %>">
                    <i class="far fa-thumbs-down" aria-hidden="true"></i>
                  </div>
                <% end %>
              </div>
              <% end %>

              <% if current_user.is_boss %>
                <div>
                  <% if @idea.idea_status != 'accepted'  %>
                    <%= button_to 'Принять идею', ideas_change_accept_path(@idea.id), class: 'btn btn-outline-success'  %>
                  <% else %>
                    <%= button_to 'Отклонить идею', ideas_change_accept_path(@idea.id), class: 'btn btn-outline-danger'  %>
                  <% end %>
                </div>
              <% end %>

              <% if @idea.can_be_deleted? @current_user %>
                <div class="head-left-link head-left-link_delete"><%= link_to 'Удалить', :idea, method: :delete, data: {confirm: "Удалить идею?"}  %></div>
              <% end %>
              <% if @idea.can_be_updated? @current_user %>
                <div class="head-left-link head-left-link_delete"><%= link_to 'Редактировать', :edit_idea  %></div>
              <% end %>

            </div>

            </div>
          </div>
        </div>
        <hr>
        <div class="head-left-link head-left-link_delete"><%= link_to( 'Развить идею', {controller: 'ideas', action: 'new', is_instance: true, instance_id: @idea.id, param_id: @idea.vote_id}) %></div>

        <div class = "idea-additional">
          <% if instance = Idea.find_by(id:@idea.instance_id) != nil %>
            <div class = "idea-copyright">
              <% instance_idea_title = instance.title %>
              <p>Основывается на: </p> <a href="#"><%=  link_to( instance_idea_title, {controller: 'ideas', action: 'show', id: @idea.instance_id}) %></a>
            </div>
          <% end %>
          <!-- <div class = "idea-add">
            Добавить в заметки
          </div> -->
        </div>
      </div>

      <main class="idea-main">
        <h2 class="title">Описание</h2>
        <div class="info">
          <p><%= @idea.body %>
        </div>
        <% if @idea.pictures.count > 0 %>
          <div class = "images">
            <h2>Прилагаемые фото</h2>
            <div class="owl-carousel owl-theme">
              <% @idea.pictures.each do |pict| %>
                <div>
                  <%= link_to pict, :target => "_blank" do%>
                    <%= image_tag pict %>
                  <% end %>
                </div>
              <% end %>
              <!--<div> <a><img src = "/img/default_idea.svg"></a></div>
              <div> <a><img src = "/img/default_idea.svg"></a></div>
              <div> <a><img src = "/img/2.jpg"></a></div>
              <div> <a><img src = "/img/default_idea.svg"></a></div>
              <div> <a><img src = "/img/default_idea.svg"></a></div>
              <div> <a><img src = "/img/2.jpg"></a></div>
              <div> <a><img src = "/img/default_idea.svg"></a></div>
              <div> <a><img src = "/img/default_idea.svg"></a></div>
              <div> <a><img src = "/img/2.jpg"></a></div>
              <div> <a><img src = "/img/default_idea.svg"></a></div>
              <div> <a><img src = "/img/default_idea.svg"></a></div>
              <div> <a><img src = "/img/2.jpg"></a></div>
              <div> <a><img src = "/img/default_idea.svg"></a></div>
              <div> <a><img src = "/img/default_idea.svg"></a></div>
              <div> <a><img src = "/img/2.jpg"></a></div>
              <div> <a><img src = "/img/default_idea.svg"></a></div>
              <div> <a><img src = "/img/default_idea.svg"></a></div>-->
            </div>
          </div>
        <% end %>

        <div class="idea-important-links-block">
          <% if @idea.get_resources.count > 0 %>
          <h2>Прилагаемые ресурсы</h2>
          <div class = "links">
            <% @idea.get_resources.each do |el| %>
              <div class = "link"><i class="fas fa-link"></i><a  href="<%= el["link"] %>"><%= el["name"] %></a></div>
            <% end %>
          </div>
            <% end %>


          <!--<div class = "links">
           <div class = "link"><i class="fas fa-link"></i><a  href="#">Источник новостей</a></div>
           <div class = "link"><i class="fas fa-link"></i><a  href="#">Ресурсы</a></div>
           <div class = "link"><i class="fas fa-link"></i><a  href="#">Пруфы</a></div>
          </div>-->
        </div>
        <div class="idea-comments">

          <%= form_with(model: [@idea, comment = (@comment || Comment.new)], class: "nice", local: false) do |form| %>
            <div class = "head">
              <h2>Комментарии</h2>
              <button class ="btn-simple" data-disable-with="<i class='far fa-paper-plane'></i> Отправка..."><i class="far fa-paper-plane"></i>Отправить</button>
            </div>
            <label for="vote_description" class="inp textarea">
              <textarea class = "autoExpand vote_description comment_text-edit_field" placeholder = " " rows = "1" data-min-rows = "1" required name="comment[body]"><%= comment.body %></textarea>
              <span class="label">Ваше предложение</span>
            </label>
          <% end %>
        </div>


      </main>

      <div class="comment-box">
      <% @idea.comments.order(created_at: :desc).each do |comment| %>
        <%= render partial: 'comments/comment', locals: {comment: comment} %>
      <% end %>

      </div>
    </section>
  <script>

      <%= render partial: 'comments/comment_hide_on_delete.js.erb' %>
  </script>

  <%= render partial: './footer.html.erb' %>
</div>