<div class="page-wrapper idea">
  <%= render partial: './header.html.erb' %>
  <div class = "breadcrumbs">
    <div class="container">
      <%= link_to 'Главная', :root_path %> <i class="fas fa-arrow-right"></i>
      <% unless @idea.vote.nil? %> <%= link_to 'Тематики', :votes %> <i class="fas fa-arrow-right"></i>
      <%= link_to @idea.vote.title, vote_path(@idea.vote) %><i class="fas fa-arrow-right"></i> <% end %>
      <a href=""><%= @idea.title %></a>
    </div>
  </div>
    <section class="idea-section content container">
      <div class="idea-header">
        <div class="idea-block-header">
          <h1 class="idea-name title">Создание игровой комнаты в офисе для персонала</h1>
        </div>
        <div class = "vote head">
          <div class = "head">
            <div class = "right">
              <div class = "person">
                <p>Создатель:</p>
                <a href="/login">
                  <div class = "avatar">
                    <img src="https://w3schoolsrus.github.io/w3images/avatar2.png">
                  </div>
                  <div class = "name">
                    <p>Иванов Иван Иваныч</p>
                  </div>
                </a>
              </div>
              <div class = "properties">
                <p>Дата: <span>12.7.2021</span></p>
              </div>    
            </div>

          <% user_action = @idea.user_action current_user %>

            <div class = "left">
              <div data-idea_id = "<%= @idea.id %>" class="rating">
                  <!-- Thumbs up -->
                  <div class="like grow <%= 'active ' if user_action == :upvote %> <%= 'disabled' if @idea.idea_status == 'archived' %>">
                    <i class="far fa-thumbs-up" aria-hidden="true"></i>
                  </div>
                  <input class="value" value ="<%= @idea.rating %>" disabled/>
                  <!-- Thumbs down -->
                  <div class="dislike grow <%= 'active ' if user_action == :downvote %> <%= 'disabled' if @idea.idea_status == 'archived' %>">
                    <i class="far fa-thumbs-down" aria-hidden="true"></i>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class = "idea-additional">
          <div class = "idea-copyright">
            <p>Основывается на: </p> <a href="#">Название другой идеи</a>
          </div>
          <div class = "idea-add">
            Добавить в заметки
          </div>
        </div>
      </div>

      <main class="idea-main">
        <h2 class="title">Описание</h2>
        <div class="info">
          <p>Некоторый русский текст, который представляет собой короткое описание предложенной идеи, выражение ее
          сути, мыслей автора, возможно завлечение сотрудников для дальнейшего голосования именно за эту идею.
          Также сюда можно написать дальнейшие перспективы развития данной идеи, польза для руководства либо для
          сотрудников кампании или организации.
        </div>

        <div class = "images">
          <h2>Прилагаемые фото</h2>
          <div class="owl-carousel owl-theme">
            <div> <a><img src = "/img/default_idea.svg"></a></div>
            <div> <a><img src = "/img/default_idea.svg"></a></div>
            <div> <a><img src = "/img/2.jpg"></a></div>
            <div> <a><img src = "/img/default_idea.svg"></a></div>
            <div> <a><img src = "/img/default_idea.svg"></a></div>
            <div> <a><img src = "/img/2.jpg"></a></div>
            <div> <a><img src = "/img/default_idea.svg"></a></div>
            <div> <a><img src = "/img/default_idea.svg"></a></div>
            <div> <a><img src = "/img/2.jpg"></a></div>
            <div> <a><img src = "/img/default_idea.svg"></a></div>
            <div> <a><img src = "/img/default_idea.svg"></a></div>
            <div> <a><img src = "/img/2.jpg"></a></div>
            <div> <a><img src = "/img/default_idea.svg"></a></div>
            <div> <a><img src = "/img/default_idea.svg"></a></div>
            <div> <a><img src = "/img/2.jpg"></a></div>
            <div> <a><img src = "/img/default_idea.svg"></a></div>
            <div> <a><img src = "/img/default_idea.svg"></a></div>
          </div>
        </div>
        <div class="idea-important-links-block">
          <h2>Прилагаемые ресурсы</h2>
          <div class = "links">
            <% @idea.get_resources.each do |el| %>
              <div class = "link"><i class="fas fa-link"></i><a  href="<%= el["link"] %>"><%= el["name"] %></a></div>
            <% end %>
          </div>

          <!--<div class = "links">
           <div class = "link"><i class="fas fa-link"></i><a  href="#">Источник новостей</a></div>
           <div class = "link"><i class="fas fa-link"></i><a  href="#">Ресурсы</a></div>
           <div class = "link"><i class="fas fa-link"></i><a  href="#">Пруфы</a></div>
          </div>-->
        </div>
        <div class="idea-comments">

          <%= form_with(model: [@idea, comment = (@comment || Comment.new)], class: "nice", local: false) do |form| %>
            <div class = "head">
              <h2>Комментарии</h2>
              <button class ="btn-simple" data-disable-with="<i class='far fa-paper-plane'></i> Отправка..."><i class="far fa-paper-plane"></i>Отправить</button>
            </div>
            <label for="vote_description" class="inp textarea">
              <textarea class = "autoExpand vote_description comment_text-edit_field" placeholder = " " rows = "1" data-min-rows = "1" required name="comment[body]"><%= comment.body %></textarea>
              <span class="label">Ваше предложение</span>
            </label>
          <% end %>
        </div>


      </main>

      <div class="comment-box">
      <% @idea.comments.order(created_at: :desc).each do |comment| %>
        <%= render partial: 'comments/comment', locals: {comment: comment} %>
      <% end %>

      </div>
    </section>
  <script>

      <%= render partial: 'comments/comment_hide_on_delete.js.erb' %>
  </script>

  <%= render partial: './footer.html.erb' %>
</div>
