<div class="page-wrapper users-index">
  <%= render partial: './header.html.erb' %>
  <div class = "breadcrumbs">
    <div class="container">
      <%= link_to 'Главная', :root_path %> <i class="fas fa-arrow-right"></i> <a href = "/users">Пользователи</a>
    </div>
  </div>
  <section class ="content container">
    <h2>Пользователи (leaderboard)</h2>
    <div class = "head-container">
      <div class = "list-item num">
        <p>№</p>
      </div>
      <div class = "list-item img">
      </div>
      <div class = "list-item info">
        <p>ФИО / Должность</p>
      </div>
      <div class = "list-item ideas">
        <p>Предложено идей</p>
      </div>
      <div class = "list-item commited_ideas">
        <p>Принято идей</p>
      </div>
      <div class = "mobile list-item">
            <p>Предложено / Принято идей</p>
      </div>
      <div class = "mobile2 list-item">
            <p>ФИО / Cтатистика</p>
      </div>
    </div>
    <div class = "list-container">

      <% User.all.sort_by{|el| [el.ideas.where(idea_status: 'accepted').count, el.ideas.count ]}.reverse!.each_with_index do |user, i| %>
        <%= link_to user_profile_path(user) do%>
          <div class = "list-item">
            <div class = "num">
              <h5><%= i+1 %></h5>
            </div>
            <div class = "img">
              <%= image_tag user_avatar user %>
            </div>
            <div class = "info">
              <p class = "name"><%= user_name user %></p>
              <p class = "descr"><%= user_role user %></p>
            </div>
            <div class = "ideas">
              <p class = "mobile_desc">Предложено идей: </p><p><%= user.ideas.count  %></p>
            </div>
            <div class = "commited_ideas">
              <p class = "mobile_desc">Принято идей: </p><p><%= user.ideas.where(idea_status: 'accepted').count%></p>
            </div>
          </div>
        <% end %>
      <% end %>



    </div>
  </section>
  <%= render partial: './footer.html.erb' %>
</div>
