<div class="page-wrapper main-index">
  <%= render partial: './header.html.erb' %>
  <div class="page-wrapper main">
    <section class="small-banner section">
      <div class="container-fluid">

        <div class="col-12">
          <div class="section-title">

            <h2>Вопросы дня</h2>

          </div>
          <br>
        </div>

        <div class="row">

          <!-- Single Banner  -->
          <div class="col-lg-4 col-md-6 col-12">
            <div class="single-banner" style="position: relative;">
              <div style="position: absolute; width: 100%; height: 100%; opacity: 0.3;"></div>
              <%= image_tag "Group1.png" %>

              <div class="content">
                <p style="font-weight: 600;">Попробуй свои силы!</p>
                <h3 style="color: white !important;">Нужны новые<br>инструменты</h3>
                <a class="link-banner clickable" href="/votes/4">Перейти</a>
              </div>
            </div>
          </div>

          <!-- /End Single Banner  -->
          <!-- Single Banner  -->

          <div class="col-lg-4 col-md-6 col-12">


            <div class="single-banner" style="position: relative;">
              <div style="position: absolute; width: 100%; height: 100%; opacity: 0.3;"></div>
              <%= image_tag "Group2.svg" %>

              <div class="content">
                <p style="font-weight: 600;">Стоит посмотреть</p>
                <h3 style="color: white !important;">Скоро юбилей<br>нашей компании<br>10 лет</h3>
                <a class="link-banner clickable" href="/votes/5">Перейти</a>
              </div>
            </div>
          </div>
          <!-- /End Single Banner  -->
          <!-- Single Banner  -->
          <div class="col-lg-4 col-12">

            <div class="single-banner" style="position: relative;">
              <div style="position: absolute; width: 100%; height: 100%; opacity: 0.3;"></div>
              <%= image_tag "Group3.svg" %>

              <div class="content">
                <p style="font-weight: 600;">Нам важно ваше мнение</p>
                <h3 style="color: white !important;">Улучшение условий<br>в офисе</h3>
                <a class="link-banner clickable" href="/votes/3">Перейти</a>
              </div>
            </div>
          </div>
          <!-- /End Single Banner  -->
        </div>
      </div>
    </section>
    <div class="product-area section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">

          <h2>Активные сотрудники</h2>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="product-info">
          <div class="nav-main">
          </div>
          <div class="tab-content" id="myTabContent">
            <!-- Start Single Tab -->
            <div class="tab-pane fade show active" id="man" role="tabpanel">
              <div class="tab-single">
                <div class="row">
          
                   <% User.all.sort_by{|el| [el.ideas.where(idea_status: 'accepted').count, el.ideas.count ]}.reverse![0...4].each_with_index do |user, i|  %>
                       <div class="col-xl-3 col-lg-4 col-md-4 col-12">

                    <div class="single-product">
                      <div class="product-img">
                        <%= link_to user_profile_path(user.id)  do %>
                          <%= image_tag user_avatar user %>
                        <% end %>

                      </div>
                      <div class="product-content">
                        <div class="product-price">
                          <span><%=  user_name user %></span>
                        </div>
                        <h6><%= user_role user %></h6>
                      </div>
                    </div>
                    </div>
                    <% end %>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <!--<section class="midium-banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">

          <h2>Успейте поучаствовать</h2>

        </div>
        <br>
      </div>

      <div class="col-lg-6 col-md-6 col-12">
        <div class="single-banner" style="position: relative;">
          <div style="position: absolute; width: 100%; height: 100%; background-color: rgb(43,43,43); opacity: 0.5;"></div>
          <%= image_tag "bestrussianbuy.jpg" %>
          <div class="content">
            <p style="font-weight: 600;">Лучший выбор</p>
            <h3 style="color: white !important;">РашнБестБай<br>СторЕвер</h3>
            <a class="btn" href="/shop/8" style="width: 270px; display: flex;
                justify-content: space-around;" >Предложить</a>
          </div>
        </div>
      </div>


      <div class="col-lg-6 col-md-6 col-12">
        <div class="single-banner" style="position: relative;">
          <div style="position: absolute; width: 100%; height: 100%; background-color: rgb(43,43,43); opacity: 0.4;"></div>
          <%= image_tag "bestrussianbuy.jpg" %>
          <div class="content">
            <p style="font-weight: 600;">Лучший выбор</p>
            <h3 style="color: white !important;">Семерочка</h3>
            <a class="btn" href="/shop/9" style="width: 270px; display: flex;
                justify-content: space-around;">Проголосовать</a>

          </div>
        </div>
      </div>

      

    </div>
  </div>
</section>-->

<div class="product-area most-popular section" style="padding-top: 50px; display: none">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Популярное</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="owl-carousel popular-slider owl-theme owl-hidden owl-loaded">

          <!-- Start Single Product -->
          
          <!-- End Single Product -->

        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 25px;"><div class="owl-item active" style="width: 25px; margin-right: 0px;"><div class="single-product">
            <div class="product-img">
              <a href="product-details.html">
                <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
                <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
                <span class="out-of-stock">Hot</span>
              </a>
              <div class="button-head">
                <div class="product-action">
                  <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                  <a title="Wishlist" href="#"><i class=" far fa-heart "></i><span>Add to Wishlist</span></a>
                  <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                </div>
                <div class="product-action-2">
                  <a title="Add to cart" href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <div class="product-content">
              <h3><a href="product-details.html">Black Sunglass For Women</a></h3>
              <div class="product-price">
                <span class="old">$60.00</span>
                <span>$50.00</span>
              </div>
            </div>
          </div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="ti-angle-left"></i></div><div class="owl-next" style=""><i class="ti-angle-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div></div>
      </div>
    </div>
  </div>
</div>

<section class="shop-home-list section" style="padding-top: 0;">
  <div class="container">

    <div class="row">

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="row">
          <div class="col-12">
            <div class="shop-section-title">
              <h1>Новые идеи</h1>
            </div>
          </div>
        </div>
          <% Idea.all_for(current_user).order(created_at: :desc).limit(4).each do |idea| %>
            <div class="single-list">
            <div class="row">
               <div class="col-lg-6 col-md-6 col-12">

                <div class="list-image overlay list-image-fix" style="width: 150px; height: 150px;">
                 <%= image_tag main_photo_for idea %>
                <%= link_to idea_path(idea), class: 'buy' do  %>
                   <i class="fas fa-share"></i>
                    <% end %>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12 no-padding">
                <div class="content">
                  <h4 class="title"><%= link_to idea.title, idea_path(idea) %></h4>
                  <%= link_to idea_path(idea)  do %><p class="price with-discount">Посмотреть</p> <% end %>
                </div>
              </div>
            </div>
          </div>

          <% end %>




      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="row">
          <div class="col-12">
            <div class="shop-section-title">
              <h1>Последние принятые</h1>
            </div>
          </div>
        </div>
        <% Idea.all_for(current_user).where(idea_status: :accepted).order(updated_at: :desc).limit(4).each do |idea| %>
          <div class="single-list">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-12">

                <div class="list-image overlay list-image-fix" style="width: 150px; height: 150px;">
                  <%= image_tag main_photo_for idea %>
                  <%= link_to idea_path(idea), class: 'buy' do  %>
                    <i class="fas fa-share"></i>
                  <% end %>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12 no-padding">
                <div class="content">
                  <h4 class="title"><%= link_to idea.title, idea_path(idea) %></h4>
                  <%= link_to idea_path(idea)  do %><p class="price with-discount">Посмотреть</p> <% end %>
                </div>
              </div>
            </div>
          </div>

        <% end %>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">

          <div class="col-12">
            <div class="shop-section-title">
              <h1>Лучшие идеи</h1>
            </div>
          </div>

        <div class="row" style="margin: 0;">

          <%  Idea.all.sort_by{|i| i.rating}.reverse![0...4].each do |idea| %>
            <div class="col-md-6 col-sm-6 col-lg-12">
              <div class="single-list">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12">

                  <div class="list-image overlay list-image-fix" style="width: 150px; height: 150px;">
                    <%= image_tag main_photo_for idea %>
                    <%= link_to idea_path(idea), class: 'buy' do  %>
                      <i class="fas fa-share"></i>
                    <% end %>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 no-padding">
                  <div class="content">
                    <h4 class="title"><%= link_to idea.title, idea_path(idea) %></h4>
                    <%= link_to idea_path(idea)  do %><p class="price with-discount">Посмотреть</p> <% end %>
                  </div>
                </div>
              </div>
            </div>
            </div>
          <% end %>


      </div>
      </div>
    </div>
  </div>
</section>

<section class="shop-services section" style="padding: 80px 40px">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="fas fa-sync-alt"></i>

          <h4>Итеративная система</h4>
          <p>Детальная проработка идей</p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="fas fa-rocket"></i>
          <h4>Развитие идей</h4>
          <p>Эффективное решение задач</p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="fas fa-search"></i>
          <h4>Удобство поиска</h4>
          <p>Иерархическая структура</p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">

          <i class="fas fa-wrench"></i>
          <!--  <i class="fas fa-pencil-ruler"></i><i class="fas fa-user-astronaut"></i>-->
          <h4>Гибкость в применении</h4>
          <p>Решайте любую проблему</p>
        </div>
        <!-- End Single Service -->
      </div>
    </div>
  </div>
</section>

  </div>
  <%= render partial: './footer.html.erb' %>
</div>
