

<header class="header">
  <nav class="links">
    <li  class="<%= set_active_if :root_path %>">
      <%= link_to 'Главная', :root_path, class: 'item' %>

    </li>
    <li class="<%= set_active_if :votes %>">
      <span>|</span>
      <%= link_to 'Тематики', :votes, class: 'item' %>
    </li>
    <li class="<%= set_active_if :users_path %>">
      <span>|</span>
      <%= link_to 'Пользователи', :users_path, class: 'item' %>

    </li>
    <li class="<%=  %>">
      <span>|</span>
      <a href="/profile" class="item">Мой профиль</a>
    </li>
  </nav>
  <div class="logo">
     <%= image_tag "logo.svg" %>
     <h4><a href="#category">Your idea managment</a></h4>
  </div>

  <!-- Sidebar menu -->
  <nav tabindex="0" class="menu">
    <div class="smartphone-menu-trigger"></div>
  <div style = "overflow-y: auto; height: 100vh; display: flex; flex-direction: column;">
    <div class="avatar" >
      <a href="">
        <%= image_tag current_user_avatar %>
        <h3 style="text-align: center; padding-top: 15px;"><%= current_user_name({patronymic: false}) %></h3>
      </a>
    </div>

      <ul style = " display:flex; flex-direction: column; flex: 1;">
        <%= link_to 'Главная', :root_path, class: set_active_if(:root_path) %>
        <%= link_to 'Тематики', :votes, class: set_active_if(:votes) %>
        <%= link_to 'Пользователи', :users_path, class: set_active_if(:users_path) %>
        <%= link_to 'Мой профиль'%>
        <%= link_to 'Выход', :logout_path, class: 'last'%>

      </ul>
    </div>
  </nav>
  <div class="overlay"></div>
</header>

