<!--<%= form_with(model: vote, local: true) do |form| %>
  <% if vote.errors.any? %>
    <div id="error_explanation">


      <ul>
        <% vote.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :vote_type %>
    <%= form.number_field :vote_type %>
  </div>

  <div class="field">
    <%= form.label :vote_status %>
    <%= form.number_field :vote_status %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :active_to %>
    <%= form.text_field :active_to %>
  </div>

  <div class="field">
    <%= form.label :iter_array %>
    <%= form.text_area :iter_array %>
  </div>

  <div class="field">
    <%= form.label :current_iter %>
    <%= form.number_field :current_iter %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
-->
<% if @writable_duties.count > 0 %>

  <%= form_with(model: vote, local: true, html: {class: "nice outline voteform"}, multipart: true) do |form| %>
    <%= form.hidden_field :iter_array, placeholder: " " %>

    <% if vote.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% vote.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class = "iter">
    <div class = "form-group">
      <label for="vote_name" class="inp">
        <%= form.text_field :title, id: "vote_name", class: "vote_name", placeholder: " ", required: true %>
        <span class="label">Название голосования</span>
      </label>
    </div>

    <div class = "form-group">
      <label for="vote_description" class="inp textarea">
        <%= form.text_area :body, id: "vote_description", placeholder: " ", class:'autoExpand vote_description', rows:'1', data: {'min-rows' => '1'}, required: true %>
        <span class="label">Описание</span>
      </label>
    </div>
    <div class = "form-group wrapper">
      <div class ="images_label">
        <label for="images" class="btn-simple">Загрузить изображения</label>
      </div>
      <input id = "images" class = "fullhidden" type = "file" accept = "image/*" multiple name="pictures[]">
      <input class = "fullhidden" name="pictures_changed" type="text" value="No">
      <div class="img-wrapper">
        <% @vote.pictures.each do |pict| %>
          <%= image_tag pict %>
        <% end %>
      </div>
    </div>
      <div class="form-group">
        <p class = "title">Продолжительность фазы предложения идей</p>

        <label for="vote_collecting" class="inp number">
          <input id="vote_collecting" class = "vote_collecting" placeholder=" " type="text" name="vote[days_collecting]" required value="<%= @vote.iterations.first['days_collecting'] if @vote.iterations.first != nil %>">
          <span class="label">Количество дней</span>
        </label>
      </div>
      <div class="form-group">
        <p class = "title">Продолжительность фазы оценивания идей</p>
        <label for="vote_voting" class="inp number">
          <input id="vote_voting" class = "vote_voting" placeholder=" " type="text" name="vote[days_voting]" required value="<%= @vote.iterations.first['days_voting'] if @vote.iterations.first != nil%>">
          <span class="label">Количество дней</span>
        </label>
      </div>
    </div>
    <div class = "form-group">
      <p class = "title down">Выберите группу для голосования</p>
      <div id = "vote_type">
        <select name = "vote[duty_id]">

          <% @writable_duties.each do |d| %>

            <option value=<%=d.id %> <%= 'selected' if d.id == vote.duty_id %>><%= d.name %></option>

          <% end %>


        </select>
      </div>
    </div>
  <% if (iters = @vote.iterations[1..-1]) != nil %>
    <%  iters.each_with_index do |iter, idx| %>
      <div class = "iter" data-id = "<%= 10000+idx %>" id="iter<%=10000+idx %>">

        <div class = "form-group">
          <label class="del btn-simple-outline right" data-id="iter<%=10000+idx %>"><i class="fas fa-times"></i></label>
        </div>
        <div class="form-group">
          <label for="vote_name<%= 10000+idx %>" class="inp">
            <input id="vote_name<%= 10000+idx %>" placeholder=" " class="vote_name" type="text" required value="<%= iter['title'] %>">
            <span class="label">Название этапа</span>
          </label>
        </div>
        <div class="form-group">
          <label for="vote_description<%= 10000+idx %>" class="inp textarea">
            <textarea id="vote_description<%= 10000+idx %>" placeholder=" " class="autoExpand vote_description" rows="1" data-min-rows="1" required><%= iter['body'] %></textarea>
            <span class="label">Описание этапа</span>
          </label>
        </div>
        <div class="form-group">
          <p class = "title">Продолжительность фазы предложения идей</p>
          <label for="vote_collecting<%= 10000+idx %>" class="inp number">
            <input id="vote_collecting<%= 10000+idx %>" class = "vote_collecting" placeholder=" " type="text" required value="<%= iter['days_collecting'] %>">
            <span class="label">Количество дней</span>
          </label>
        </div>
        <div class="form-group">
          <p class = "title">Продолжительность фазы оценивания идей</p>
          <label for="vote_voting<%= 10000+idx %>" class="inp number">
            <input id="vote_voting<%= 10000+idx %>" class = "vote_voting" placeholder=" " type="text" required value="<%= iter['days_voting'] %>">
            <span class="label">Количество дней</span>
          </label>
        </div>

      </div>
    <% end %>
      <% end %>
    <div id="iters">
    </div>
    <div class = "form-group">
      <button type="button" id = "add_iter" class="btn-simple-outline right">Добавить этап</button>

    </div>


    <%# <div class = "form-group">
    <p class = "title">Количество этапов</p>
    <div id = "iter">
      <select>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="other">
          Другое количество
        </option>
      </select>
    </div>
    <div data-id = "iter_additional" class = "fullhidden" style="max-width: 200px">
      <label for="vote_name" class="inp">
        <input type="text" id="vote_name" placeholder="&nbsp;">
        <span class="label">Число этапов</span>
        <span class="focus-bg"></span>
      </label>
    </div>

  </div> %>

    <div class="form-group">
      <input type="submit" id = "btn_submit" class="btn-simple" value = "Отправить">
    </div>
  <% end %>
<% else %>
  <br>
  <br>
  <%= form_with(model: vote, local: true, html: {class: "nice outline"}, multipart: true) do |form| %>
    <div>
      <h4>К сожалению, вас пока не добавили ни в одну группу с возможностью создать голосование</h4>
    </div>
  <% end %>
<% end %>

