<div class="page-wrapper vote-index">
  <%= render partial: './header.html.erb' %>
  <section class ="content container">
    <div class = "global_themes">
      <h2>Основные направления</h2>
      <div class = "box">
        <a href = "/votes/31">
          <div class = "theme_card">
            <div class = "img">
              <img src = "/img/default_idea.svg">
            </div>
            <div class = "title">
              <p>Название1</p>
            </div>
            <div class = "info">
              Некоторое описание оди...
            </div>
          </div>
        </a>
        
        <a href = "/votes/new">
          <div class = "theme_card">
            <div class = "img">
              <img src = "/img/default_idea.svg">
            </div>
            <div class = "title">
              <p>Название1</p>
            </div>
            <div class = "info">
              Некоторое описание оди...
            </div>
          </div>
        </a>

        <a href = "/votes/new">
          <div class = "theme_card">
            <div class = "img">
              <img src = "/img/default_idea.svg">
            </div>
            <div class = "title">
              <p>Название1</p>
            </div>
            <div class = "info">
              Некоторое описание оди...
            </div>
          </div>
        </a>

        <a href = "/votes/new">
          <div class = "theme_card">
            <div class = "img">
              <img src = "/img/default_idea.svg">
            </div>
            <div class = "title">
              <p>Название1</p>
            </div>
            <div class = "info">
              Некоторое описание оди...
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class = "active_themes">
      <h2>Активные тематики</h2>
      <!--
      <div class = "table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col col-min">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
      -->
        
        <div class = "head-container">
          <div class = "list-item img">
          </div>
          <div class = "list-item info">
            <p>Название / Описание</p>
          </div>
          <div class = "list-item status">
            <p>Статус</p>
          </div>
          <div class = "list-item phase">
            <p>Фаза</p>
          </div>
        </div>
        <div class = "list-container">
          <a href = "/votes/new">
            <div class = "list-item">
              <div class = "img">
                <img src = "/img/default_idea.svg">
              </div>
              <div class = "info">
                <p class = "name">Имя1</p>
                <p class = "descr">Некторое описание 1 темы...</p>
              </div>
              <div class = "status">
                <p>Находится на этапе 3</p>
              </div>
              <div class = "phase">
                <p>Приём заявок</p>
              </div>
            </div>
          </a>

          <a href = "/votes/new">
            <div class = "list-item">
              <div class = "img">
                <img src = "/img/default_idea.svg">
              </div>
              <div class = "info">
                <p class = "name">Имя1</p>
                <p class = "descr">Некторое описание 1 темы...</p>
              </div>
              <div class = "status">
                <p>Активно</p>
              </div>
              <div class = "phase">
                <p>Голосование</p>
              </div>
            </div>
          </a>

          <a href = "/votes/new">
            <div class = "list-item">
              <div class = "img">
                <img src = "/img/default_idea.svg">
              </div>
              <div class = "info">
                <p class = "name">Имя1</p>
                <p class = "descr">Некторое описание 1 темы...</p>
              </div>
              <div class = "status">
                <p>Находится на этапе 3</p>
              </div>
              <div class = "phase">
                <p>Приём заявок</p>
              </div>
            </div>
          </a>

          <a href = "/votes/new">
            <div class = "list-item">
              <div class = "img">
                <img src = "/img/default_idea.svg">
              </div>
              <div class = "info">
                <p class = "name">Имя1</p>
                <p class = "descr">Некторое описание 1 темы...</p>
              </div>
              <div class = "status">
                <p>Находится на этапе 3</p>
              </div>
              <div class = "phase">
                <p>Приём заявок</p>
              </div>
            </div>
          </a>

          <a href = "/votes/new">
            <div class = "list-item">
              <div class = "img">
                <img src = "/img/default_idea.svg">
              </div>
              <div class = "info">
                <p class = "name">Имя1</p>
                <p class = "descr">Некторое описание 1 темы...</p>
              </div>
              <div class = "status">
                <p>Находится на этапе 3</p>
              </div>
              <div class = "phase">
                <p>Приём заявок</p>
              </div>
            </div>
          </a>

          <a href = "/votes/new">
            <div class = "list-item">
              <div class = "img">
                <img src = "/img/default_idea.svg">
              </div>
              <div class = "info">
                <p class = "name">Имя1</p>
                <p class = "descr">Некторое описание 1 темы...</p>
              </div>
              <div class = "status">
                <p>Находится на этапе 3</p>
              </div>
              <div class = "phase">
                <p>Приём заявок</p>
              </div>
            </div>
          </a>
        </div>
    </div>
  </section>
  <%= render partial: './footer.html.erb' %>
</div>
<!-- 
<h1>Votes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Vote Type</th>
      <th>Vote Status</th>
      <th>Body</th>
      <th>Title</th>
      <th>Active to</th>
      <th>Iter array</th>
      <th>Current iter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.user_id %></td>
        <td><%= vote.vote_type %></td>
        <td><%= vote.vote_status %></td>
        <td><%= vote.body %></td>
        <td><%= vote.title %></td>
        <td><%= vote.active_to %></td>
        <td><%= vote.iter_array %></td>
        <td><%= vote.current_iter %></td>
        <td><%= link_to 'Show', vote %></td>
        <td><%= link_to 'Edit', edit_vote_path(vote) %></td>
        <td><%= link_to 'Destroy', vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vote', new_vote_path %>
-->