
<div class="page-wrapper vote-show">
  <%= render partial: './header.html.erb' %>
  <div class = "breadcrumbs">
    <div class="container">
      
        <%= link_to 'Главная', :root_path %> <i class="fas fa-arrow-right"></i><%= link_to 'Тематики', :votes %> <i class="fas fa-arrow-right"></i><a href = ""><%= @vote.title %></a>
      
    </div>
  </div>
  <section class ="content container">
    <div class = "vote head">
      <div class = "head">
        <div class = "right">
          <div class = "person">
            <p>Создатель:</p>
            <%= link_to (user_profile_path(@vote.user) if @vote.user != nil) do%>
              <div class = "avatar">
                <%= image_tag user_avatar @vote.user %>
              </div>
              <div class = "name">
                <p><%= user_name @vote.user %></p>
              </div>
            <% end %>
          </div>
          <div class = "properties">
            <p>Тип: <span><%= vote_type @vote%></span></p>
          </div>
          <div class = "phase">
            <p>Находится в фазе: <span><%= vote_phase @vote%></span></p>
          </div>        
        </div>

        <div class = "left">

            <div class = "time">
              <p>
                <%= if @vote.vote_status != 'archived'
                       @vote.vote_status == 'collecting' ? 'Приём заявок до' : 'Оценивание идей до'
                     else
                       'Дата архивации'
                     end %>:
                <span><%=  phase_upto @vote%></span>
              </p>
            </div>
          <% if @vote.can_be_updated? current_user %>
            <div class="head-left-link"><%= link_to 'Редактировать', :edit_vote  %></div>
          <% end %>
          <% if @vote.can_be_deleted? current_user %>
            <div class="head-left-link head-left-link_delete"><%= link_to 'Удалить', :vote, method: :delete, data: {confirm: "Удалить голосование?"}  %></div>
          <% end %>

          </div>
        </div>

    </div>
    <div class = "vote main">
      <h1 class = "vote_title"><%= @vote.title %></h1>
      <div class = "vote_body">
        <p><%= @vote.body %></p>
      </div>
      <% iterations = @vote.iterations %>
      <% current_iter = @vote.iteration %>
      <% iterations.each_with_index do |el, i| %>
        <% i=i+1 %>
        <% next if el['title'] == nil  %>
        <div class = "iter <%= 'active' if i == current_iter  %>">
          <div class = "num"></div>
          <div class = "body">
            <div class = "strip"></div>
            <div class = "text">
              <h4><%= el['title'] %></h4>
              <p><%= el['body'] %></p>
            </div>
          </div>
        </div>
      <% end %>


      <br>
      <% if @vote.pictures.count > 0 %>
        <div class = "images">
        <h3>Фото к проблеме</h3>
        <div class="owl-carousel owl-theme">

          <% @vote.pictures.each do |pict| %>
            <div>
              <%= link_to pict, :target => "_blank" do%>
                <%= image_tag pict %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
      <br>

      <div class = "ideas">
        <div class = "ideas-title">
          <h3>Предложенные идеи</h3>
          <% if @vote.can_create_fresh_idea? %>

            <div class = "add-link"><%= link_to({controller: 'ideas', action: 'new', param_id: @vote.id})  do%><i class="fas fa-plus"></i>Предложить <% end%></div>

          <% end %>

        </div>

        <div class = "head-container <%= 'voting' if @vote.vote_status == 'voting' %>">
          <div class = "list-item num">
              <p>№</p>
          </div>
          <div class = "list-item img">
          </div>
          <div class = "list-item info">
            <p>Название / Описание</p>
          </div>
          <% if @vote.iteration != 1 or (@vote.iteration == 1 and @vote.vote_status != 'collecting') %>
                    <div class = "list-item actions">
                      <p>Рейтинг</p>
                    </div>
          <% end %>
        </div>
  
        <div class = "list-container">
          <% ideas = (@vote.vote_status == 'archived' ? @vote.ideas.where(archived_on: @vote.iteration+1) : @vote.ideas.where.not(idea_status: 'archived'))  %>
          <% if ideas.count> 0%>

            <% ideas.sort_by{|e| e.rating}.reverse!.each_with_index do |idea, i| %>
              <a href = "/ideas/<%= idea.id %>">
                <div class = "list-item <%= 'voting' if @vote.vote_status == 'voting' %>">
                  <div class = "num">
                    <h5><%= i+1 %></h5>
                  </div>
                  <div class = "img">
                    <img src = "/img/default_idea.svg">
                  </div>
                  <div class = "info">
                    <p class = "name"><%= idea.title %></p>
                    <p class = "descr"><%= less_text(idea.body, 20) %></p>
                  </div>
                  <div class = "actions">
                    <div data-idea_id = "<%= idea.id %>" class="rating">
                      <!-- Thumbs up -->
                      <% user_action = idea.user_action current_user %>
                      <% if @vote.vote_status == 'voting' %>
                      <div class="like grow <%= 'active ' if user_action == :upvote %> <%= 'disabled' if idea.idea_status == 'archived' %>">
                        <i class="far fa-thumbs-up" aria-hidden="true"></i>
                      </div>
                        <% end %>
                      <% if @vote.iteration != 1 or (@vote.iteration == 1 and @vote.vote_status != 'collecting') %>
                           <input class="value idea-rating-field" value ="<%= idea.rating %>" disabled/>
                      <% end %>
                     
                      <!-- Thumbs down -->
                      <% if @vote.vote_status == 'voting' %>
                      <div class="dislike grow <%= 'active ' if user_action == :downvote %> <%= 'disabled' if idea.idea_status == 'archived' %>">
                        <i class="far fa-thumbs-down" aria-hidden="true"></i>
                      </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </a>
            <% end %>
            <% else %>
            <div class="message-item">
              <div class="title">
                  <h3>К сожалению, еще не было предложено ни одной идеи</h3>
              </div>
            </div> 
          <% end %>

        </div>
      </div>

    </div>

  </section>

  <%= render partial: './footer.html.erb' %>
</div>

